<div class="jumbotron text-center">
  <h1>Employee Search</h1>
  <p>Enter the name of the Employee you are searching for.</p> 
</div>
  
{{search-bar}}

 <div id="footer">
      <span>
        <p><i>Employee facilities and Research Dept.</i></p>
      </span>
    </div>